nav img{
    height: 70px;
    width: 190px;
}
ul{
    list-style: none;
    padding: 0;
}
.butn-outline-primary {
    color:  #02186e;
    background-color:transparent;
    border-radius: 50px;
    text-align: center;
    border-color: #02186e;
    font-family: Gotham-Medium,sans-serif;
    border: 1px solid #002d80;
    padding: 0 20px;
    font-size: 14px;
    font-weight: 600;
    height: 34px;
    transition-property: background-color, color;
    transition-duration: 100ms;
    transition-timing-function: linear;
}
.butn-outline-primary:hover {
    background: #02186e;
    color: white;
}
header {
    display: flex;
    align-items: center;
}
header ul {
    margin: 0;
    display: flex;
    align-items: center;
}
header ul li{
    margin-left: 65px;
    font-size: 20px;
}
header ul li:hover{
    font-weight: 700;
    cursor: pointer;
}
header .search-container{
    position: relative;
    margin-left: auto;
    margin-right: 12px;
    display: flex;
    align-items: center;
}
header .search-container svg{
    position: absolute;
    right: 8px;
}
header .search-container input{
    border-radius: 30px;
    background-color:#f0f0f0;
    border: 1px solid #bbb;
    padding: 6px 20px;
    font-size: 12px;
}
.heading1{
    color: #02186e;
    margin-bottom: 40px;
    
}

.thumb img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.button1{
    color:  #02186e;
    background-color:white;
    border-radius: 50px;
    text-align: center;
    border-color: #02186e;
    font-family: Gotham-Medium,sans-serif;
    border: 1px solid #002d80;
    padding: 0 20px;
    font-size: 14px;
    font-weight: 600;
    height: 34px;

}
.button1:hover{
    background: #02186e;
    color: white;
}
.part3{
    background-image: linear-gradient(90deg,#002d80,#0076bb);
    width: 100%;
    padding: 40px 0;
    margin-bottom: 40px;

}

.part3 .custom-part-3-card img {
    height: 395px;
    width: 309px;
}

.image-section {
    width: 100%;
}

.image-section img {
    width: 100%;
}

.part3 .custom-part-3-card button {
    height: 40px;
    padding: 0 24px;
    border-radius: 20px;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    display: inline-block;
    max-width: fit-content;
    transition-property: background-color, color;
    transition-duration: 200ms;
    transition-timing-function: linear;
    margin-left: 18%;
}

.part3 .custom-part-3-card button:hover {
    cursor: pointer;
    background-color: #fff;
    color: #002d80;
}

.para {
    font-size: 18px;
    margin-top: 16px;
    margin-bottom: 24px;
    line-height: 24px;
}

footer {
    background-color: #ebebeb;
}

footer {
    color: #02186e;
}

footer ul li {
    margin: 5px 0;
    line-height: 1.5;
    font-size: 16px;
    cursor: pointer;
}

.footer-search {
    height: 36px;
    width: 100%;
    display: flex;
}


.footer-search input {
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 6px 0 0 6px;
    padding: 0 6px;
    border: 1px solid #02186e;
    font-weight: 500;
    font-family: inherit;
    outline: none;
}

.footer-search button {
    height: 36px;
    padding: 0 8px;
    border: none;
    background-color: #02186e;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    border-radius: 0 6px 6px 0;
}

@media (max-width: 978px) {
    header ul {
        display: none!important;
    }
}

@media (max-width: 724px) {
    nav img{
        height: 60px;
        width: 150px;
    }

    .make-column {
        display: flex;
        flex-direction: column;
    }

    .col {
        width: 100%;
    }

    .part3 .custom-part-3-card img {
        height: 190px;
        width: 146px;
        margin-right: 40px;
    }

    .right {
        display: flex;
        justify-content: center;
    }
}
